body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f8fc;
  background-attachment: fixed;
  background-size: cover;
}

* {
  /* font-family: 'Noto Sans JP' !important; */
  font-family: 'Heebo', sans-serif !important;
}